dist: xenial
services:
  - docker
git:
  depth: 3
before_script:
  - ./bin/build.sh
script:
  - ./bin/push.sh
env:
  global:
    # RELEASE contains the serverless release to build
    # Ref: https://github.com/serverless/serverless/releases
    - RELEASE=2.8.0
